
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    /* background: white; */
}

.Signupbg{
    background: white;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Signupcard{
    margin-top: 3rem;
    width: 21rem;
    height: 22rem;
    padding: 1rem;
    background: white;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 8rem 0rem 20rem 0rem #7fe1e6aa, -8rem 0rem 20rem rgba(163, 164, 247, 0.672);
}

.SignupUpperBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SUB_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.SUB_2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.SignupLowerBlock{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.Signup_option1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #8985FF 0%, #2019E1 169.32%);
    border: 0.1rem solid rgba(174, 174, 188, 0.3);
    box-shadow: 0px 0.1rem 0.15rem rgba(16, 24, 40, 0.05);
    border-radius: 0.5rem;
    /* padding: 0.3rem 4.5rem; */
    width: 20rem;
    height: 2rem;
    font-size: 1.1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 0.6rem;  

}

.Signup_option1 img{
    background: #2019E1;
    position: relative;
    /* top: 0rem; */
    left: -0.5rem;    
}

.Signup_option2{
    background: #FFFFFF;
    border: 0.1rem solid rgba(174, 174, 188, 0.3);
    box-shadow: 0 0 0.3rem rgba(16, 24, 40, 0.05);
    color: black;
}

.Signup_option2 img{
    background: white;
    /* top: 0.2rem; */
}

.toLogin{
    font-family: 'Inter';
    margin-top: 2rem;
    font-size: 1rem;
}

.toLogin p{
    display: inline-block;
    color: black;
}

.toLogin a{
    display: inline-block;
    margin-left: 0.3rem;
    color: blue;
}

.Signup_option1:hover{
    box-shadow: 0 0 0.3rem black;
}

.navbar2 .logout{
    display: none;
}

@media (max-width: 450px) {
    .Signupcard{
        width: 80vw;
    }
    .Signup_option1{
        width: 70vw;
        font-size: 1rem;
    }
}
